$ff-main-regular: "Montserrat", "Arial", sans-serif;

$colorTransparent: transparent;
$colorBackgroundLight: #DEE1FF;
$colorBackgroundDark: #22356F;
$colorBackgroundRepeatList: #ffffff21;
$colorStockItemBackground: rgb(236, 240, 11);
$colorMenuBright: #62D0DF;
$colorMenuDark: #0052C1;
$colorMenuPurple: #8F00FF;
$colorFontWhite: white;
$colorFontLight: bisque;
$colorFontBright: #FAB63E;
$colorDecorBright: #E9B730;
$colorFontPlaceholder: #a7a6a4;
$colorFontDark: rgb(24, 16, 13);

$colorButtonHover: rgb(235, 142, 142);
$colorItemHover: rgb(241, 89, 89);
$colorButtonActive: rgb(103, 117, 103);
$colorBorder: #3e516c;

$colorError: rgb(234, 66, 66);

$colorLowRepeatLevel: rgb(218 51 51);
$colorMiddleRepeatLevel: rgb(165, 146, 48);
$colorHighRepeatLevel: rgb(43, 131, 59);

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-830:                            830px;
$vp-1024:                           1024px;
$vp-1095:                           1095px;
$vp-1170:                           1170px;
$vp-1280:                           1280px;
$vp-1366:                           1366px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

:export {
    colorTransparent: $colorTransparent;
    colorBackgroundLight: $colorBackgroundLight;
    colorBackgroundDark: $colorBackgroundDark;
    colorBackgroundRepeatList: $colorBackgroundRepeatList;
    colorMenuDark: $colorMenuDark;
    colorMenuPurple: $colorMenuPurple;
    colorMenuBright: $colorMenuBright;
    colorButtonHover: $colorButtonHover;
    colorButtonActive: $colorButtonActive;
    colorDecorBright: $colorDecorBright;
    colorFontWhite: $colorFontWhite;
    colorBorder: $colorBorder;
    colorLowRepeatLevel: $colorLowRepeatLevel;
    colorMiddleRepeatLevel: $colorMiddleRepeatLevel;
    colorHighRepeatLevel: $colorHighRepeatLevel;
    colorError: $colorError;
    ffMainRegular: $ff-main-regular;
    colorItemHover: $colorItemHover;


    vp-1024: $vp-1024;
}