$ff-main-regular: "Montserrat", "Arial", sans-serif;

$colorTransparent: transparent;
$colorBackgroundLight: #DEE1FF;
$colorBackgroundDark: #22356F;
$colorBackgroundRepeatList: #ffffff21;
$colorStockItemBackground: rgb(236, 240, 11);
$colorMenuBright: #62D0DF;
$colorMenuDark: #0052C1;
$colorMenuPurple: #8F00FF;
$colorFontWhite: white;
$colorFontLight: bisque;
$colorFontBright: #FAB63E;
$colorDecorBright: #E9B730;
$colorFontPlaceholder: #a7a6a4;
$colorFontDark: rgb(24, 16, 13);

$colorButtonHover: rgb(235, 142, 142);
$colorItemHover: rgb(241, 89, 89);
$colorButtonActive: rgb(103, 117, 103);
$colorBorder: #3e516c;

$colorError: rgb(234, 66, 66);


:export {
    colorTransparent: $colorTransparent;
    colorBackgroundLight: $colorBackgroundLight;
    colorBackgroundDark: $colorBackgroundDark;
    colorBackgroundRepeatList: $colorBackgroundRepeatList;
    colorMenuDark: $colorMenuDark;
    colorMenuPurple: $colorMenuPurple;
    colorMenuBright: $colorMenuBright;
    colorButtonHover: $colorButtonHover;
    colorButtonActive: $colorButtonActive;
    colorDecorBright: $colorDecorBright;
    colorFontWhite: $colorFontWhite;
}