@import '/src/sass/variables.module.scss';

.form--radio-input__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    margin-top: 30px;
}

.new-collection--form-item {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: auto;
    background-color: $colorBackgroundDark;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid $colorBackgroundRepeatList;
}

.submit--button {
    height: 40px;
    width: 140px;
    background-color: $colorMenuBright;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    cursor: pointer;
    border: 2px solid white;

    &:hover {
        background-color: $colorButtonHover;
    }
    &:active {
        background-color: $colorButtonActive;
    }
}

.form--radio-label {
    color: $colorFontWhite;
    margin-top: 0px;
    cursor: pointer;
    max-width: 320px;
    margin-left: 15px;
}


.form--radio-input {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
}