@import '/src/sass/variables.module.scss';

.form--radio-input__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 30px;
}

.edit-card--form-item {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: 15px auto;
    background-color: $colorBackgroundDark;
    justify-content: space-evenly;
    padding: 20px;
    padding-left: 70px;
    transition: margin-right 2s ease-in-out;
    border-radius: 15px;
    border: 1px solid $colorBackgroundRepeatList;
}

.submit-item--button {
    height: 40px;
    width: 140px;
    background-color: $colorMenuBright;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    margin-right: 155px;
    cursor: pointer;
    border: 2px solid white;

    &:hover {
        background-color: $colorButtonHover;
    }
    &:active {
        background-color: $colorButtonActive;
    }
}

.form--radio-label {
    color: $colorFontWhite;
    margin-top: 0px;
    cursor: pointer;
    max-width: 320px;
    margin-left: 15px;
}


.form--radio-input {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
}

.set-category--container-second {
    display: flex; 
    flex-direction: column; 
    margin-left: 44px;
    height: 0px;
    opacity: 0;
    transition-duration: 600ms;
    transition-property: height opacity;
    transition-timing-function: ease-out;
}

.set-category--container-second.entering {
    height: 0px;
    opacity: 0;
}

.set-category--container-second.entered {
    height: 180px;
    opacity: 1;
    
}

.set-category--container-second.exiting {
    height: 0px;
    opacity: 0;
}
.set-category--container-second.exited {
    height: 0px;
    opacity: 0;
}

.set-category--container-third {
    display: flex; 
    flex-direction: column; 
    margin-left: 44px;
    height: 0px;
    opacity: 0;
    transition-duration: 600ms;
    transition-property: height opacity;
    transition-timing-function: ease-out;
}

.set-category--container-third.entering {
    height: 0px;
    opacity: 0;
}

.set-category--container-third.entered {
    height: 100px;
    opacity: 1;
}

.set-category--container-third.exiting {
    height: 0px;
    opacity: 0;
}
.set-category--container-third.exited {
    height: 0px;
    opacity: 0;
}