@import '/src/sass/variables.module.scss';

.new-collection--form {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    min-width: 400px;
    margin: 15px auto;
    background-color: $colorBackgroundDark;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid $colorBackgroundRepeatList;
}

.submit--button {
    height: 40px;
    width: 140px;
    background-color: $colorMenuBright;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    cursor: pointer;
    border: 2px solid white;

    &:hover {
        background-color: $colorButtonHover;
    }
    &:active {
        background-color: $colorButtonActive;
    }
}