.title-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    margin-bottom: -20px;
}

.cards-counter {
    margin-left: 5px;
    font-weight: bold;
}

.list--item {
    display: block;
    width: max-content;
    margin-bottom: 3px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(236, 240, 11);
    color: rgb(24, 16, 13);
    cursor: pointer; 
}

.list--filter__react {
    background-color: rgb(38, 125, 207);
}

.list--filter__oop {
    background-color: rgb(118, 226, 106);
}

.list--filter__typeScript {
    background-color: rgb(105, 224, 230);
}

.list--item:hover {
    background-color: rgb(233, 42, 42);
    color: rgb(255, 255, 255);
}