@import '/src/sass/variables.module.scss';

.sign-in--form {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: auto;
    background-color: $colorBackgroundRepeatList;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 80px;
    border-radius: 15px;
}

.submit--button {
    height: 40px;
    width: 140px;
    background-color: $colorMenuBright;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    border: 2px solid white;

    &:hover {
        background-color: $colorButtonHover;
    }
    &:active {
        background-color: $colorButtonActive;
    }
}

.toggle--sign-button {
    height: 40px;
    width: 140px;
    background-color: $colorTransparent;
    color: $colorFontWhite;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    cursor: pointer;
    border: 2px solid white;

    &:hover {
        background-color: $colorButtonHover;
    }
    &:active {
        background-color: $colorButtonActive;
    }
}

.toggle-button--span {
    color: $colorFontWhite;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}