@import '/src/sass/variables.module.scss';

.form--radio-input__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    margin-top: 30px;
}

.form--radio-label {
    color: $colorFontWhite;
    margin-top: 0px;
    cursor: pointer;
    max-width: 320px;
    margin-left: 15px;
}


.form--radio-input {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
}
