@import '/src/sass/variables.module.scss';

.main-page--container {
    display: flex;
    flex-direction: column;
}

.main-page--caption {
    color: $colorFontLight;
    font-weight: 300;
    margin: 40px auto;
}

.menu-options--box {
    display: flex;
    flex-direction: column;
}
