@import '/src/sass/variables.module.scss';

.sign_in--form {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: auto;
    background-color: $colorBackgroundRepeatList;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 100px;
    border-radius: 15px;
}

.submit-button {
    height: 40px;
    width: 140px;
    background-color: $colorMenuBright;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    cursor: pointer;
    border: 2px solid white;
}

.submit-button:hover {
background-color: $colorButtonHover;
}

.submit-button:active {
background-color: $colorButtonActive;
}