@import '/src/sass/variables.module.scss';
@import '/src/sass/mixins.scss';

.collection-page--container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.collection-data--container {
    display: flex;
    margin-top: -15px;
}

.collection-page--caption {
    color: $colorFontLight;
    font-size: 52px;
    font-weight: 300;
    margin: 40px auto;
    text-align: center;

    @include vp-1023 {
        font-size: 32px;
        margin: 22px auto;
    } 
}