@import '/src/sass/variables.module.scss';

.collection-page--container {
    display: flex;
    margin-top: -15px;
}

.collection-page--caption {
    color: $colorFontLight;
    font-size: 52px;
    font-weight: 300;
    margin: 40px auto;
}