.button__getData {
    height: 50px;
    width: max-content;
    background-color: #40ccc7;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid white;
  }