@import '/src/sass/variables.module.scss';

.list--item {
    display: block;
    width: max-content;
    margin-bottom: 3px;
    padding: 7px;
    border-radius: 5px;
    background-color: $colorStockItemBackground;
    color: $colorFontDark;
    cursor: pointer; 
    max-width: 437px;
    position: relative;
    padding-right: 25px;
}

.list--item:hover {
    background-color: $colorItemHover;
    color: rgb(255, 255, 255);
}

.repeat-counter {
    width: 21px;
    height: 21px;
    border-radius: 40%;
    background-color: rgb(218 51 51);;
    position: absolute;
    right: -14px;
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 3px solid $colorBorder;
}
